// Utilities
$mainTitle: 2em;
$title: 1.5em;

// Color
$bgColor1: #eeedde;
$bgColor2: #e0ddaa;
$bgColor3: #203239;
$bgColor4: #141e27;

$textColor: #203239;
$textColor2: #eeedde;
// End color

// <--------------- Banner --------------------->

section.banner {
  position: relative;
  padding-top: 150px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  border-bottom: 1px solid $bgColor4;

  img.ban {
    width: 100%;
    height: 80%;
    transform: rotate(-10deg);
  }
}

.inner-banner {
  margin-bottom: 50px;
}
