// Utilities
$mainTitle: 2em;
$title: 1.5em;

// Color
$bgColor1: #eeedde;
$bgColor2: #e0ddaa;
$bgColor3: #203239;
$bgColor4: #141e27;

$textColor: #203239;
$textColor2: #eeedde;
// End color

// <--------------- Banner --------------------->

section.banner {
  padding-top: 150px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  border-bottom: 1px solid $bgColor4;

  div.carousel {
    display: none;
  }

  img.ban {
    width: 500px;
    height: 400px;
    transform: rotate(-10deg);
  }
}

.inner-banner {
  padding: 50px 0px 50px 0px;
}

/*<--------------- SCREEN MEDIUM SIZE ---------------------> */

@media (min-width: 700px) {
  section.banner {
    height: 50rem;
    justify-content: flex-start;
    justify-content: space-between;
    padding-top: 0px;
  }

  div.carousel {
    display: block !important;
    width: 100%;
    height: 25rem;
  }

  div.carousel slide {
    width: 100%;
    height: 100%;
  }

  .carousel-img {
    width: 100%;
    height: 600px;
  }

  .carousel-img2 {
    width: 100%;
    height: 700px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    margin-top: 300px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: none;
  }

  .carousel-control-prev-icon:after {
    content: "<";
    font-size: 100px;
    color: $bgColor4;
  }

  .carousel-control-next-icon:after {
    content: ">";
    font-size: 100px;
    color: $bgColor4;
  }

  img.ban {
    display: none;
  }
}

//<--------------- end SCREEN MEDIUM SIZE ---------------------> //

// <--------------- SCREEN BIG SIZE --------------------->

@media (min-width: 1200px) {
}

// <--------------- end SCREEN BIG SIZE --------------------->
