// Color
$bgColor1: #eeedde;
$bgColor2: #e0ddaa;
$bgColor3: #203239;
$bgColor4: #141e27;
// End color

// <--------------- Banner --------------------->

section.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  width: 90%;
  border-bottom: 1px solid $bgColor4;
  z-index: 0;

  img.ban {
    width: 90%;
    height: 400px;
  }
}

.carousel-ban {
  display: none;
}

.inner-banner {
  padding: 50px 0px 50px 0px;
}

/*<--------------- SCREEN MEDIUM SIZE ---------------------> */

@media (min-width: 700px) {
  section.banner {
    height: 50rem;
    justify-content: flex-start;
    justify-content: space-between;
    padding-top: 0px;
  }

  div.carousel-ban,
  div.carousel-slide,
  .carousel-img,
  .carousel-img2 {
    width: 100%;
  }

  div.carousel-ban {
    display: block;
    height: 25rem;
  }

  div.carousel-slide {
    height: 100%;
  }

  .carousel-img {
    height: 600px;
  }

  .carousel-img2 {
    height: 800px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    margin-top: 15%;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: none;
  }

  .carousel-control-prev-icon:after {
    content: "<";
    font-size: 100px;
    color: $bgColor4;
  }

  .carousel-control-next-icon:after {
    content: ">";
    font-size: 100px;
    color: $bgColor4;
  }

  img.ban {
    display: none;
  }
}

//<--------------- end SCREEN MEDIUM SIZE ---------------------> //
