$textSize: 1.2em;

// Color
$bgColor1: #eeedde;
$bgColor2: #e0ddaa;
$bgColor3: #203239;
$bgColor4: #141e27;

$textColor: #203239;
$textColor2: #eeedde;
// End color

// <--------------- SECTION Carousel--------------------->
section.carousel,
ul.bgs {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.carousel {
  position: relative;
  flex-direction: column;
  margin-bottom: 50px;
  padding-bottom: 100px;
  height: 40em;
  border-top: 1px solid $bgColor4;

  h3,
  div.lbls label,
  div.lbls label.labelAnterior,
  div.lbls label.labelProxima,
  ul.bgs li {
    position: absolute;
  }

  h3 {
    top: 10px;
    margin: 50px;
  }

  input,
  div.lbls label,
  ul.bgs li {
    display: none;
  }

  div.lbls label {
    top: 60%;
  }

  div.lbls label.labelAnterior,
  div.lbls label.labelProxima {
    content: "";
    font-size: 25px;
    z-index: 1;
  }

  div.lbls label.labelAnterior {
    left: 5vw;
  }

  div.lbls label.labelProxima {
    right: 5vw;
  }

  ul.bgs {
    list-style: none;
  }

  ul.bgs li {
    top: 35%;
    width: 250px;
    height: 350px;
  }

  span {
    color: $bgColor4;
  }

  span:hover {
    border-bottom: 1px solid;
    margin-bottom: 5px;
  }

  span hr {
    margin: 20px;
    width: 50px;
  }

  ul.bgs li:nth-of-type(1),
  ul.bgs li:nth-of-type(2),
  ul.bgs li:nth-of-type(3),
  ul.bgs li:nth-of-type(4),
  ul.bgs li:nth-of-type(5) {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  ul.bgs li:nth-of-type(1) {
    background-image: url(../img/harvest.png);
  }
  ul.bgs li:nth-of-type(2) {
    background-image: url(../img/nest2.png);
  }

  ul.bgs li:nth-of-type(3) {
    background-image: url(../img/birdMessenger.png);
  }

  ul.bgs li:nth-of-type(4) {
    background-image: url(../img/birdALittleHistory.png);
  }

  ul.bgs li:nth-of-type(5) {
    background-image: url(../img/nest.png);
  }

  #inp01Alpha:checked ~ ul.bgs li.bg01,
  #inp01Alpha:checked ~ div.lbls label.lbl02,
  #inp01Alpha:checked ~ div.lbls label.lbl10,
  #inp02Alpha:checked ~ ul.bgs li.bg02,
  #inp02Alpha:checked ~ div.lbls label.lbl03,
  #inp02Alpha:checked ~ div.lbls label.lbl06,
  #inp03Alpha:checked ~ ul.bgs li.bg03,
  #inp03Alpha:checked ~ div.lbls label.lbl04,
  #inp03Alpha:checked ~ div.lbls label.lbl07,
  #inp04Alpha:checked ~ ul.bgs li.bg04,
  #inp04Alpha:checked ~ div.lbls label.lbl05,
  #inp04Alpha:checked ~ div.lbls label.lbl08,
  #inp05Alpha:checked ~ ul.bgs li.bg05,
  #inp05Alpha:checked ~ div.lbls label.lbl01,
  #inp05Alpha:checked ~ div.lbls label.lbl09,
  #inp06Alpha:checked ~ ul.bgs li.bg01,
  #inp06Alpha:checked ~ div.lbls label.lbl02,
  #inp06Alpha:checked ~ div.lbls label.lbl10,
  #inp07Alpha:checked ~ ul.bgs li.bg02,
  #inp07Alpha:checked ~ div.lbls label.lbl03,
  #inp08Alpha:checked ~ div.lbls label.lbl06,
  #inp08Alpha:checked ~ ul.bgs li.bg03,
  #inp08Alpha:checked ~ div.lbls label.lbl04,
  #inp08Alpha:checked ~ div.lbls label.lbl07,
  #inp09Alpha:checked ~ ul.bgs li.bg04,
  #inp09Alpha:checked ~ div.lbls label.lbl05,
  #inp09Alpha:checked ~ div.lbls label.lbl08,
  #inp10Alpha:checked ~ ul.bgs li.bg05,
  #inp10Alpha:checked ~ div.lbls label.lbl01,
  #inp10Alpha:checked ~ div.lbls label.lbl09 {
    display: block;
  }
}

.break-carousel {
  display: none;
}

// <--------------- end SECTION Carousel--------------------->

@media (min-width: 700px) {
  div.lbls label.labelAnterior,
  div.lbls label.labelProxima {
    font-size: 50px;
  }

  div.lbls label.labelAnterior {
    left: 35vw;
  }

  div.lbls label.labelProxima {
    right: 50vw;
  }
}

@media (min-width: 1200px) {
  section.carousel {
    height: 32em;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  section.carousel input,
  section.carousel div.lbls,
  section.carousel ul.bgs {
    display: none;
  }

  section.carousel h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid;
  }

  div.break-carousel,
  .break-carousel ul {
    display: flex;
  }

  .break-carousel ul {
    justify-content: center;
    align-content: center;
    margin-top: 50px;
  }

  .break-carousel ul li {
    margin: 0px 20px 0px 20px;
  }

  .break-carousel-img {
    width: 200px;
    height: 200px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 20%;
  }

  .break-carousel-img:hover {
    transform: scale(1.1);
    color: $bgColor4;
  }

  div.icon-anchor5 {
    margin-bottom: 20px;
  }
}
