$textSize: 1.2em;

// Color
$bgColor1: #eeedde;
$bgColor2: #e0ddaa;
$bgColor3: #203239;
$bgColor4: #141e27;

$textColor: #203239;
$textColor2: #eeedde;
// End color

// <--------------- SECTION Carousel--------------------->
section.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  padding-bottom: 100px;
  height: 40em;
  text-align: center;
  border-top: 1px solid $bgColor4;

  h3 {
    position: absolute;
    top: 10px;
    margin: 50px;
  }

  input {
    display: none;
  }

  div.lbls label {
    position: absolute;
    display: none;
    top: 60%;
  }

  div.lbls label.labelAnterior {
    content: "";
    font-size: 50px;
    position: absolute;
    left: 5vw;
  }

  div.lbls label.labelProxima {
    content: "";
    font-size: 50px;
    position: absolute;
    right: 5vw;
  }

  ul.bgs {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul.bgs li {
    top: 35%;
    width: 250px;
    height: 350px;
    float: left;
    position: absolute;
    display: none;
  }

  span {
    font-size: $textSize;
    color: $bgColor4;
  }

  span:hover {
    border-bottom: 1px solid;
    margin-bottom: 5px;
  }

  span hr {
    margin: 20px;
    width: 50px;
  }

  ul.bgs li:nth-of-type(1) {
    background-image: url(../img/harvest.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  ul.bgs li:nth-of-type(2) {
    background-image: url(../img/nest2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  ul.bgs li:nth-of-type(3) {
    background-image: url(../img/birdMessenger.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  ul.bgs li:nth-of-type(4) {
    background-image: url(../img/birdALittleHistory.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  ul.bgs li:nth-of-type(5) {
    background-image: url(../img/nest.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #inp01Alpha:checked ~ ul.bgs li.bg01 {
    display: block;
  }
  #inp01Alpha:checked ~ div.lbls label.lbl02 {
    display: block;
  }
  #inp01Alpha:checked ~ div.lbls label.lbl10 {
    display: block;
  }
  #inp02Alpha:checked ~ ul.bgs li.bg02 {
    display: block;
  }
  #inp02Alpha:checked ~ div.lbls label.lbl03 {
    display: block;
  }
  #inp02Alpha:checked ~ div.lbls label.lbl06 {
    display: block;
  }
  #inp03Alpha:checked ~ ul.bgs li.bg03 {
    display: block;
  }
  #inp03Alpha:checked ~ div.lbls label.lbl04 {
    display: block;
  }
  #inp03Alpha:checked ~ div.lbls label.lbl07 {
    display: block;
  }
  #inp04Alpha:checked ~ ul.bgs li.bg04 {
    display: block;
  }
  #inp04Alpha:checked ~ div.lbls label.lbl05 {
    display: block;
  }
  #inp04Alpha:checked ~ div.lbls label.lbl08 {
    display: block;
  }
  #inp05Alpha:checked ~ ul.bgs li.bg05 {
    display: block;
  }
  #inp05Alpha:checked ~ div.lbls label.lbl01 {
    display: block;
  }
  #inp05Alpha:checked ~ div.lbls label.lbl09 {
    display: block;
  }
  #inp06Alpha:checked ~ ul.bgs li.bg01 {
    display: block;
  }
  #inp06Alpha:checked ~ div.lbls label.lbl02 {
    display: block;
  }
  #inp06Alpha:checked ~ div.lbls label.lbl10 {
    display: block;
  }
  #inp07Alpha:checked ~ ul.bgs li.bg02 {
    display: block;
  }
  #inp07Alpha:checked ~ div.lbls label.lbl03 {
    display: block;
  }
  #inp08Alpha:checked ~ div.lbls label.lbl06 {
    display: block;
  }
  #inp08Alpha:checked ~ ul.bgs li.bg03 {
    display: block;
  }
  #inp08Alpha:checked ~ div.lbls label.lbl04 {
    display: block;
  }
  #inp08Alpha:checked ~ div.lbls label.lbl07 {
    display: block;
  }
  #inp09Alpha:checked ~ ul.bgs li.bg04 {
    display: block;
  }
  #inp09Alpha:checked ~ div.lbls label.lbl05 {
    display: block;
  }
  #inp09Alpha:checked ~ div.lbls label.lbl08 {
    display: block;
  }
  #inp10Alpha:checked ~ ul.bgs li.bg05 {
    display: block;
  }
  #inp10Alpha:checked ~ div.lbls label.lbl01 {
    display: block;
  }
  #inp10Alpha:checked ~ div.lbls label.lbl09 {
    display: block;
  }
}

div.break-carousel {
  display: none;
}

// <--------------- end SECTION Carousel--------------------->

@media (min-width: 1200px) {
  section.carousel {
    height: 32em;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  section.carousel input,
  section.carousel div.lbls,
  section.carousel ul.bgs {
    display: none;
  }

  section.carousel h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid;
  }

  div.break-carousel {
    display: flex;
  }

  .break-carousel ul {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
  }

  .break-carousel ul li {
    margin: 0px 20px 0px 20px;
  }

  .break-carousel-img {
    width: 200px;
    height: 200px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 20%;
  }

  .break-carousel-img:hover {
    transform: scale(1.1);
    color: $bgColor4;
  }

  div.icon-anchor5 {
    margin-bottom: 20px;
  }
}
