// Color
$bgColor1: #eeedde;
$bgColor2: #e0ddaa;
$bgColor3: #203239;
$bgColor4: #141e27;
// End color

// <--------------- Sharing SECTION --------------------->

footer {
  position: relative;
  height: 24em;
  border-top: 1px solid $bgColor4;
  text-align: center;
}

// <--------------- end Sharing SECTION --------------------->

footer {
  margin-bottom: 20px;

  div {
    display: inline-block;
    padding: 10px;
    max-width: 100%;
  }

  img {
    width: 30px;
    height: 30px;
    margin: 5px;
  }

  a:hover {
    color: $bgColor3;
    border-bottom: 1px solid $bgColor4;
  }
}

@media (min-width: 700px) {
  .footer-contain {
    display: flex;
    justify-content: center;
  }

  .footer-box {
    margin-left: 50px;
    margin-right: 50px;
  }

  footer img {
    width: 50px;
    height: 50px;
  }
}
