// Color
$bgColor1: #eeedde;
$bgColor2: #e0ddaa;
$bgColor3: #203239;
$bgColor4: #141e27;
// End color

main,
section.escales-wrapper,
article,
.escales-inner-banner,
div.direction,
div.span6 {
  display: flex;
}

main {
  flex-direction: column;
  height: auto;

  div.icon-anchor5 {
    position: absolute;
    right: auto;
    left: auto;
    bottom: 10px;
    margin-top: 75px;
    width: 30px;
    height: 30px;
    z-index: 1;
  }
}

/* --- Banner --- */

.escales-inner-banner {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;

  h2 {
    color: $bgColor4;
    padding: 20px;
  }
}

.voilier {
  align-self: center;
  padding-top: 20px;
  width: 50%;
  height: 50%;
}
/* --- end Banner --- */

section.escales-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.separate-box {
  width: 100%;
  height: 50px;
  background-color: $bgColor3;
  margin-top: 20px;
  margin-bottom: 20px;
}

article {
  position: relative;
  width: 100%;
  height: 60vh;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 70px;
  border-bottom: 1px dashed;
  background-color: $bgColor1;

  img {
    width: 50%;
    height: 50%;
  }

  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  button {
    position: absolute;
    margin: 10px;
    right: 10px;
    bottom: 3%;
  }
}

div.direction {
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.span6,
form div {
  justify-content: center;

  form div,
  textarea {
    width: 100%;
  }

  form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    // border: 1px solid;
  }

  input {
    margin-top: 20px;
  }

  textarea {
    height: 150px;
  }

  button {
    background-color: $bgColor4;
  }
}

form {
  display: block;
  width: 90%;
}

@media (min-width: 500px) {
  article img {
    width: 50%;
  }

  form {
    width: 60%;
  }

  textarea {
    height: 200px;
  }
}
