// Color
$bgColor1: #eeedde;
$bgColor2: #e0ddaa;
$bgColor3: #203239;
$bgColor4: #141e27;
// End color

// <--------------- MAIN --------------------->

main,
.gallerie-inner-banner,
.gallerie-title,
.gal-imgbox2,
.article-contain,
.learnBox,
.theme-box {
  display: flex;
}

main {
  flex-direction: column;
  height: auto;

  div.icon-anchor5 {
    position: absolute;
    right: auto;
    left: auto;
    bottom: 10px;
    margin-top: 75px;
    width: 30px;
    height: 30px;
    z-index: 1;
  }
}

/* --- Banner --- */
.gallerie-banner {
  background-image: url(../img/cieletoile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 35vh;
}

.gallerie-inner-banner {
  position: relative;
  justify-content: center;
  align-content: center;
  width: 100%;

  h2 {
    position: absolute;
    top: 180px;
    color: $bgColor1;
  }
}

/* --- end Banner --- */

.container-fluid {
  padding-bottom: 50px;
}

.gallerie-title,
.learnBox,
.theme-box {
  text-align: center;
}

.gallerie-title {
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;

  h2 {
    padding: 20px;
    border-bottom: 1px solid;
  }

  ul {
    width: 70%;
    padding: 20px;
    line-height: 50px;
  }

  a:hover {
    border-bottom: 1px solid;
    padding-bottom: 3px;
  }

  .color1,
  .color3 {
    background-color: $bgColor4;
  }

  .color1 a,
  .color3 a {
    color: #eeedde;
  }

  .color2,
  .color4 {
    background-color: $bgColor3;
  }

  .color2 a,
  .color3 a,
  .color4 a {
    color: $bgColor1;
  }

  .color1:hover,
  .color2:hover,
  .color3:hover,
  .color4:hover {
    width: 100%;
    box-shadow: 1px 1px 6px $bgColor3;
  }

  .color1:hover,
  .color3:hover {
    background-color: $bgColor1;
  }

  .color1 a:hover,
  .color3 a:hover {
    color: $bgColor4;
  }

  .color2:hover,
  .color4:hover {
    background-color: $bgColor2;
  }

  .color2 a:hover,
  .color4 a:hover {
    color: $bgColor4;
  }
}

.gal-imgbox2 {
  justify-content: center;
  align-items: center;
}

.gal-img,
.gal-img2 {
  width: 90%;
  height: 90%;
}
/* ----- article ----- */

.article-contain {
  flex-direction: column;
  width: 100%;
}

.learnBox {
  flex-direction: column;
  justify-content: space-around;
  width: 100%;

  .theme-box {
    justify-content: center;
    align-content: center;
    margin: auto;
  }

  .icon-anchor6 {
    align-self: center;
    z-index: 1;
  }

  .icon-anchor6 img {
    width: 20px;
    height: 20px;
  }

  h3,
  h4,
  p {
    padding: 20px;
  }

  h4 {
    background-color: $bgColor4;
    color: $bgColor1;
  }

  p,
  .Explications {
    background-color: $bgColor3;
    color: $bgColor1;
  }

  .proverbe {
    background-color: $bgColor2;
    color: $bgColor4;
  }

  .Explications {
    height: 50px;
    overflow: hidden;
  }

  .Explications:hover {
    height: 15vh;
    overflow: visible;
  }
}

/* ----- end article ----- */

// <--------------- end MAIN --------------------->

@media (min-width: 700px) {
  .gallerie-banner {
    height: 75vh;
  }

  .gallerie-inner-banner h2 {
    top: 430px;
  }

  .gal-imgbox2 {
    height: 300px;
    align-items: flex-end;
  }

  img.gal-img {
    width: 40%;
    height: 60%;
  }

  img.gal-img2 {
    width: 50%;
    height: 90%;
  }
}

@media (min-width: 1200px) {
  .gallerie-banner {
    background-image: url(../img/cieletoile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
  }

  .gallerie-title ul {
    width: 70%;
  }

  .gal-imgbox2 {
    height: 500px;
    align-items: flex-end;
  }

  img.gal-img2 {
    width: 50%;
    height: 80%;
  }
}
