// Utilities
$titleKingSize: 5em;
$titleMediumSize: 3em;
$mainTitle: 2.5em;
$title: 2em;
$subTitle: 1.5em;
$proverbeSize: 1.2em;
$textSize: 1em;
$smallTextSize: 0.9em;
// Color
$bgColor1: #eeedde;
$bgColor2: #e0ddaa;
$bgColor3: #203239;
$bgColor4: #141e27;

$textColor: #203239;
$textColor2: #eeedde;
// End color

body,
html {
  background-color: $bgColor1;
  font-family: "Gideon Roman", cursive;

  a,
  li {
    list-style: none;
    text-decoration: none;
    color: $textColor;
  }

  h1 {
    font-size: $mainTitle;
  }

  h3 {
    font-size: $subTitle;
  }

  img.arrow-orientation {
    width: 30px;
    height: 30px;
  }

  @media (min-width: 700px) {
    h1 {
      font-size: $titleMediumSize;
    }

    h3 {
      font-size: $title;
    }
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: $titleKingSize;
    }

    h2 {
      font-size: $mainTitle;
    }

    h3 {
      font-size: $subTitle;
      font-weight: bold;
      line-height: 40px;
    }

    p {
      font-size: $smallTextSize;
    }

    img.arrow-orientation {
      width: 20px;
      height: 20px;
    }
  }
}

/* -------- HEADER --------*/

/* -------- end HEADER --------*/

/* -------- MAIN --------*/
main {
  p.proverbe {
    font-size: $proverbeSize;
    font-weight: bold;
    text-align: center;
  }
}

// - banner - //

.inner-banner {
  h2 {
    font-size: $titleMediumSize;
  }

  p {
    line-height: 50px;
    font-size: 1.5em;
  }
}

.gallerie-inner-banner,
.escales-inner-banner {
  text-align: center;
  h2 {
    font-size: $subTitle;
  }
}
// - end banner - //

// - about - //
section.about {
  text-align: center;

  h2 {
    font-size: $subTitle;
  }

  h3 {
    text-align: center;
    font-weight: bold;
  }

  span {
    font-weight: bold;
  }
}

.aboutInfo article {
  line-height: 20px;

  .p2 {
    text-align: center;
    line-height: 40px;
  }

  .p3 {
    text-align: left;
  }
}
// - end about - //

// - Gallerie - //
.gallerie-title {
  h2 {
    font-size: $proverbeSize;
  }
}
// - end Gallerie - //

// - Escales - //
article {
  h2 {
    font-size: $title;
  }
}

// - end Escales - //

// - carousel - //

section.carousel {
  text-align: center;

  span {
    font-size: $proverbeSize;
  }

  ul {
    line-height: 25px;
  }
}

// - end carousel - //

/* -------- end MAIN --------*/

/* -------- FOOTER --------*/

footer span {
  text-align: center;
}

/* -------- end FOOTER --------*/

@media (min-width: 700px) {
  h2.plume {
    font-size: $titleKingSize;
    font-style: italic;
  }

  header ul {
    font-size: $textSize;
  }

  .gallerie-inner-banner h2 {
    font-size: $mainTitle;
  }

  .gallerie-title h2 {
    font-size: $title;
  }

  .gallerie-title a {
    font-size: $proverbeSize;
  }

  .gallerie-title a:hover {
    color: $textColor;
  }

  @media (min-width: 1200px) {
    header ul {
      font-size: $proverbeSize;
    }

    main p {
      font-size: $proverbeSize;
    }

    main article h3 {
      font-size: $title;
    }

    main section.carousel h3 {
      font-size: $mainTitle;
    }
  }
}
