// Utilities
$titleKingSize: 5em;
$titleMediumSize: 3em;
$mainTitle: 2em;
$title: 2em;
$subTitle: 1.5em;
$proverbeSize: 1.2em;
$textSize: 0.9em;
// Color
$bgColor1: #eeedde;
$bgColor2: #e0ddaa;
$bgColor3: #203239;
$bgColor4: #141e27;

$textColor: #203239;
$textColor2: #eeedde;
// End color

body,
html {
  background-color: $bgColor1;
  font-family: "Gideon Roman", cursive;

  a,
  li {
    list-style: none;
    text-decoration: none;
    color: $textColor;
  }

  h1 {
    font-size: $mainTitle;
  }

  @media (min-width: 700px) {
    h1 {
      font-size: $titleMediumSize;
    }
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: $titleKingSize;
    }
  }

  h2 {
    font-size: $mainTitle;
  }

  h3 {
    font-size: $subTitle;
    font-weight: bold;
    line-height: 40px;
  }

  p {
    font-size: $textSize;
  }

  img.arrow-orientation {
    width: 30px;
    height: 30px;
  }

  @media (min-width: 1200px) {
    img.arrow-orientation {
      width: 40px;
      height: 40px;
    }
  }
}

/* -------- HEADER --------*/

/* -------- end HEADER --------*/

/* -------- MAIN --------*/
main {
  p.proverbe {
    font-size: $proverbeSize;
    font-weight: bold;
    text-align: center;
  }
}

// - banner - //

.inner-banner {
  p {
    line-height: 50px;
    font-size: 1.5em;
  }
}

@media (min-width: 700px) {
  h2.plume {
    font-size: $titleKingSize;
    font-style: italic;
  }
}

// - end banner - //

// - about - //
section.about {
  text-align: center;

  h3 {
    text-align: center;
    font-weight: bold;
  }

  span {
    font-weight: bold;
  }
}

.aboutInfo article {
  line-height: 20px;

  .p2 {
    text-align: center;
    line-height: 40px;
  }

  .p3 {
    text-align: left;
  }
}
// - end about - //

/* -------- end MAIN --------*/

/* -------- FOOTER --------*/

/* -------- end FOOTER --------*/
